pre[class*="language-"] {
    background: #161b22;
}

pre[class*="language-diff"] .Token {
    color: #C1CCCC;
}

pre[class*="language-diff"] .Token.ADD_FILE,
pre[class*="language-diff"] .Token.SUB_FILE {
    color: #569cd6;
}

pre[class*="language-diff"] .Token.TAG_LINE {
    color: #C586C0;
}

pre[class*="language-diff"] .Token.HighlightLine,
pre[class*="language-diff"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-diff"] .Token.ADD_LINE {
    background-color: #033a16;
    color: #aff5b4;
}

pre[class*="language-diff"] .Token.SUB_LINE {
    background-color: #67060c;
    color: #fad2d0;
}