.cold {
    color: #acbcdb #012790;
}

.warm {
    color: #ffc000 #fdd835 #fbc02d #f9a825 #f57f17;
}

.one {
    color: #0070c0;
}

.two {
    color: #ffc000 #0070c0;
}

.three {
    color: #4472c4 #ffc000 #63c0cf;
}

.four {
    color: #ffc000 #4c91b8 #0070c0 #005083;
}

.five {
    color: #ffc000 #ed7d31 #5b9bd5 #4bbabd #358d8f;
}

.six {
    color: #ffc000 #ed7d31 #5b9bd5 #0070c0 #4bbabd #358d8f;
}

.seven {
    color: #ffc000 #ed7d31 #2f5597 #5b9bd5 #0070c0 #4bbabd #358d8f;
}